.container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;

    font-size: 1em;

}

.scroll-invisivel::-webkit-scrollbar {
    display: none; /* Oculta a scrollbar no Chrome, Safari, e Edge */
}

.scroll-invisivel {
    scrollbar-width: none; /* Oculta a scrollbar no Firefox */
}



@media (max-width: 550px) {
    /* … */
    .container {
        font-size: 3vw;
    }
  }