<div id="login-component">
    <main class="form-signin">
        <form>
          <h1 class="h3 mb-3 fw-normal text-center">Sign in <i class="bi bi-door-closed-fill"></i></h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <label for="passwordInput">Password</label>
          </div>
          <p class="mt-3 text-body-secondary">Don't have a account? <a href="signup">Register</a></p>
          <button class="btn btn-success w-100 py-2" type="submit">Login</button>
        </form>
      </main>
</div>