<div id="signup-component">
    <main class="form-signin">
        <form>
          <h1 class="h3 mb-3 fw-normal text-center">Sign up <i class="bi bi-stars"></i></h1>
      
          <!--Full name -->
          <div class="form-floating">
            <input type="text" class="form-control" id="fullNameInput" placeholder="John Doe">
            <label for="fullNameInput">Full name</label>
          </div>
          
          <!--User-->
          <div class="form-floating">
            <input type="text" class="form-control" id="userInput" placeholder="@gbrisolara">
            <label for="userInput">User</label>
          </div>

          <!-- Email -->
          <div class="form-floating">
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email address</label>
          </div>

        <!-- Passwords -->
          <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <label for="passwordInput">Password</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput2" placeholder="Repeat Password">
            <label for="passwordInput2">Repeat Password</label>
          </div>

          <p class="mt-3 text-body-secondary">Already have a account? <a href="signin">Login</a></p>
          <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
        </form>
      </main>
</div>