.transaction-item {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    box-sizing: border-box;
}


.field-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.description-area {
    align-items: center;
    .place {
        font-weight: bolder;
    }
}

.date-area {
    align-items: start;
}

.value-area {
    align-items: end;
    font-weight: bolder;
}


.positive-value {
    color: green;
}

.negative-value {
    color: red;
}