<div class="container">


    <table class="table table-sm table-responsive table-borderless table-stripped table-hover table-dark custom-background-table m-0">
        <tbody>
          <tr>
            <th>ref.</th>
            <td>jul/24</td>
          </tr>
          <tr>
            <th>user</th>
            <td>&#64;gbrisolara</td>
          </tr>
          <tr>
            <th>name</th>
            <td>Gabriel Brisolara</td>
          </tr>
        </tbody>
      </table>


      <table class="pc-table table table-sm table-responsive table-borderless table-stripped table-hover table-dark custom-background-table m-0">
        <tbody>
          <tr>
            <th>entries</th>
            <td class="resume-value entries-value">R$ 1253,35</td>
          </tr>
          <tr>
            <th>outs</th>
            <td class="resume-value outs-value">R$ 546,33</td>
          </tr>
          <tr>
            <th>diff</th>
            <td class="resume-value">R$ 706,67</td>
          </tr>
        </tbody>
      </table>

</div>